html {
    background: #000;
    color: #fff;
}

* {
    box-sizing: border-box;
}

.app {
    position: absolute;
    background: #222;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
}

.langs {
    position: absolute;
    background: #000;
    top: 16px;
    left: 16px;
    width: 600px;
    height: 200px;
}

.geo {
    position: absolute;
    background: #000;
    bottom: 16px;
    left: 16px;
    width: 600px;
    height: 400px;
}