html {
    background: #262626;
    color: #fff;
    font-family: arial;
}

* {
    box-sizing: border-box;
}

.app {
    position: relative;
    background: #222;
    margin: auto;
    width: 1280px;
    height: 664px;
    border: 1px solid #111;
}

.map {
    position: absolute;
    top: 80px;
    left: 24px;
    width: 1008px;
    height: 400px;
}

.langs {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 352px;
    height: 128px;
}

.hashtags {
    position: absolute;
    top: 32px;
    right: 16px;
    width: 200px;
    height: 628px;
    font-size: 10pt;
    color: #fff;  
}

.hashtags div {
    position: relative;
    padding: 4px;
}

.hashtags div:last-child {
    border-bottom: none;
}

.hashtags span {
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 20px;
    color: #0cc;
    text-align: right;
}

.hashtags strong {
    display: block;
    padding-left: 24px;
    font-weight: normal;
}

