html {
    background: #000;
    color: #fff;
}

* {
    box-sizing: border-box;
}

.app {
    position: absolute;
    background: #222;
    margin: auto;
    width: 1024px;
    height: 768px;
}

.geo {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 1008px;
    height: 400px;
}

.map {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 1008px;
    height: 400px;
}

.langs {
    position: absolute;
    background: #000;
    bottom: 16px;
    left: 16px;
    width: 352px;
    height: 100px;
}
